__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

venv/
env/
ENV/
*.env

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo
*.pot


dump.rdb
redis-*.rdb

.DS_Store

.vscode/
.idea/

cookies.txt

*/migrations/__pycache__/

node_modules/
dist/
build/
*.tsbuildinfo
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

